<div class="container">

            <div class="hero-unit">
                <h1 rel="tooltip" title="first tooltip" id="example">Sobre Nosotros</h1>
                <p class="text-center">
                    Te contamos quiénes somos los que hacemos <strong>What the Gift!?</strong>
                </p>
            </div>

            <ul class="thumbnails">
                <li class="span6">
                    <div class="thumbnail">
                        <%= image_tag("vero.jpg", alt: "Foto de Veronica",
                                      height: '278', width: '278') %>
                        <h3>Verónica Crespi</h3>
                        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                        <p class="text-right"><button class="btn btn-success" type="button">Escribir un e-mail</button></p>
                    </div>
                </li>
                <li class="span6">
                    <div class="thumbnail">
                        <%= image_tag("sacha.jpg", alt: "Foto de Sacha",
                                      height: '278', width: '278') %>
                        <h3>Sacha Lifszyc</h3>
                        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                        <p class="text-right"><button class="btn btn-success" type="button">Escribir un e-mail</button></p>
                    </div>
                </li>
                <li class="span6">
                    <div class="thumbnail">
                        <%= image_tag("fer.jpg", alt: "Foto de Fer") %>
                        <h3>Fernando Niño</h3>
                        <p>Donec ullamcorper nulla non metus auctor fringilla.Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                        <p class="text-right"><button class="btn btn-success" type="button">Escribir un e-mail</button></p>
                    </div>
                </li>
                <li class="span6">
                    <div class="thumbnail">
                        <%= image_tag("joaquin.jpg", alt: "Foto de Joaquin",
                                      height: '278', width: '278') %>
                        <h3>Joaquín Pérez Bay</h3>
                        <p>Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                        <p class="text-right"><button class="btn btn-success" type="button">Escribir un e-mail</button></p>
                    </div>
                </li>
            </ul>
        </div>
