<div class="container">

            <div class="hero-unit">
                <h1 rel="tooltip" title="first tooltip" id="example">Sobre Nosotros</h1>
                <p class="text-center">
                    Te contamos quiénes somos los que hacemos <strong>What the Gift!?</strong>
                </p>
            </div>

            <ul class="thumbnails">
                <li class="span6">
                    <div class="thumbnail">
                        <%= image_tag("vero.jpg", alt: "Foto de Veronica",
                                      height: '278', width: '278') %>
                        <h3>Verónica Crespi <a href="mailto:crespi.veronica@gmail.com" class="btn btn-success pull-right">Escribir un e-mail</a></h3>
                    </div>
                </li>
                <li class="span6">
                    <div class="thumbnail">
                        <%= image_tag("sacha.jpg", alt: "Foto de Sacha",
                                      height: '278', width: '278') %>
                        <h3>Sacha Lifszyc <a href="mailto:sacha.lifszyc@gmail.com" class="btn btn-success pull-right">Escribir un e-mail</a></h3>
                    </div>
                </li>
                <li class="span6">
                    <div class="thumbnail">
                        <%= image_tag("fer.jpg", alt: "Foto de Fer") %>
                        <h3 clas="pull-left">Fernando Niño 
                        <a href="mailto:nino.fernando" class="btn btn-success pull-right">Escribir un e-mail</a></h3>
                    </div>
                </li>
                <li class="span6">
                    <div class="thumbnail">
                        <%= image_tag("joaquin.jpg", alt: "Foto de Joaquin",
                                      height: '278', width: '278') %>
                        <h3>Joaquín Pérez Bay <a href="mailto:joaquinperezbay@gmail.com" class="btn btn-success pull-right" type="button">Escribir un e-mail</a></h3>
                    </div>
                </li>
            </ul>
        </div>
