<h1>Notificación</h1>

<p>Estimado <%= @user.full_name %>,</p>

<p>su cuenta ha reportado irregularidades y se ha prohibido el acceso a ella.</p>

<p>Si tiene alguna duda sobre el incidente, escriba un mail a nuestro <a href="mailto:soporte@whatthegift.com.ar">equipo de soporte.</a></p>

<p>Gracias por visitar What the Gift?!</p>