<h1 id="usuarios">Usuarios</h1>
<h2 id="homescreen">Homescreen</h2>
<p>En esta pantalla se encontrarán 6 botones</p>
<ol>
<li>El botón What the gift?! En la parte superior izquierda lo llevará a la página de inicio de su cuenta</li>
<li>El botón con su Nombre y Apellido le permitirá<ul>
<li>Gestionar su Perfil</li>
<li>Cerrar sesión el cual lo deslogueará de su sesión actual</li>
</ul>
</li>
<li>Amigos le permitirá ingresar a las secciones<ul>
<li>Ingresar a la pantalla “Mis amigos” (ver sección “Administrar amigos”).</li>
<li>O “Buscar” nuevos amigos el cual mostrará la pantalla de búsqueda de amigos por <ul>
<li>Nombre</li>
<li>Apellido</li>
<li>Dirección de e-mail</li>
</ul>
</li>
</ul>
</li>
<li>Los botones Comenzá a encontrar regalos y Productos le permitirá ver un listado de los productos disponibles (propios o ajenos) y realizar búsquedas simples o avanzadas así como por categorías</li>
<li>Mis regalos mostrará un listado de los regalos ya recibidos y la posibilidad de puntuar los regalos. Dicho puntaje no podrá ser visto por nadie más excepto por usted mismo y su finalidad es de la de conocer más sus gustos para mejorar la búsqueda de futuros regalos que se le sugerirá a sus amigos.</li>
</ol>
<h2 id="perfil">Perfil</h2>
<p>En esta pantalla tendrá la posibilidad de visualizar los datos actuales de su perfil y dispondrá de 3 botones
1.  Editar perfil lo re-direccionará a la pantalla para editar los atributos de su perfil
2.  Eliminar cuenta dará de baja su cuenta dejándola inactiva teniendo la posibilidad de posterior reactivación
3.  Cambiar E-Mail le permitirá la posibilidad de editar su cuenta de correo electrónico de su cuenta. Este proceso requerirá un email válido y posterior confirmación del mismo</p>
<h2 id="reactivar-perfil">Reactivar perfil</h2>
<p>Si su perfil ha sido eliminado, podrá ser reactivado ingresando las credenciales correspondientes anteriores a la eliminación. Se le notificará sobre el estado eliminado de su cuenta y se le ofrecerá la posibilidad de reactivarla.</p>
<h2 id="editar-perfil">Editar perfil</h2>
<p>En esta pantalla podrá editar los atributos correspondientes a su perfil. Aparecerán los campos del mismo habilitados para su modificación. </p>
<p>Los botones disponibles son:</p>
<ol>
<li>Cambiar foto este botón abrirá una pantalla que le permitirá seleccionar un archivo de su computadora (no serán admitidas fotos en formato URL en esta sección) la cual aparecerá en su perfil.</li>
<li>Confirmar cambios luego de ingresados los cambios en los campos este botón validará que sean correctos y avisará en caso de que sean inválidos no permitiendo la modificación de los mismos. Las validaciones son:
    *La fecha de nacimiento es obligatoria</li>
<li>Cancelar cambios volverá al perfil al último estado guardado (confirmado). </li>
<li>Cambiar contraseña(*) permitirá la modificación de la contraseña actual validando que la nueva contraseña:<ul>
<li>Tenga más de 8 caracteres</li>
<li>Coincida con el campo Confirmar Contraseña</li>
</ul>
</li>
<li>Cambiar E-Mail(*) le permitirá la posibilidad de editar su cuenta de correo electrónico de su cuenta. Este proceso requerirá un email válido y posterior confirmación del mismo</li>
</ol>
<p>(*)Estos botones no requieren presionar en Confirmar cambios para que se reflejen los cambios.</p>
<h2 id="administrar-amigos">Administrar amigos</h2>
<p>En esta pantalla estarán disponibles dos secciones:</p>
<ol>
<li>Mis amigos mostrará un listado de sus amigos.
Un amigo es una persona a la cual se le ha enviado una solicitud y la ha aceptado por lo que sus perfiles se encuentran vinculador.
En esta pantalla podrá ingresar a los perfiles de su amigo haciendo click en su nombre o en la foto.
Además tendrá el botón Eliminar el cual le permitirá romper con dicho vínculo.</li>
<li>Solicitudes de amistad en esta pantalla se mostrarán las solicitudes pendientes de aceptación por otros usuarios para vincular sus cuentas en calidad de amigos. Se dispondrá de los botones:<ul>
<li>Confirmar que le permitirá vincular sus cuentas</li>
<li>Rechazar que denegará la solicitud de amistad entre ambas cuentas. El otro usuario no será notificado del rechazo pero podrá saberlo si al ingresar al perfil tiene permitido volver a enviar una solicitud ya que al enviarla o al vincular las cuentas, se deshabilita la posibilidad de enviar la solicitud a un mismo usuario.</li>
</ul>
</li>
</ol>
<p>De este modo, si dos perfiles no se vinculan y no se permite enviar la solicitud de amistad significa que la solicitud aún está pendiente de aceptación o rechazo.
Además, en caso de que se le envíe una solicitud de amistad, se activará al lado de su nombre y apellido (en la barra superior) un número que indicará la cantidad de solicitudes pendientes. Clickeando el número se mostrará un menú que le permitirá ingresar a Solicitudes de amistad lo que lo redirigirá a esta misma pantalla.</p>
<p>Vincular dos cuentas permitirá al sitio notificar al usuario sobre los futuros eventos relacionados a su cuenta.</p>
<h2 id="buscar-amigos">Buscar amigos</h2>
<p>Esta pantalla le permitirá realizar una búsqueda de amigos por los siguientes criterios
<em>   Nombre
</em>   Apellido
*   Dirección de e-mail</p>
<p>El botón Buscar filtrará la base de usuarios de acuerdo a los parámetros solicitados</p>
<h2 id="productos-disponibles">Productos disponibles</h2>
<p>En esta pantalla se mostrará listado de los productos disponibles en la base de datos y la posibilidad de realizar búsquedas simples o avanzadas así como por categorías.</p>
<p>En este listado no habrá ningún tipo de prioridad o categorización asociada a los gustos propios o de otro usuario, simplemente se mostrarán los productos a modo de búsqueda.</p>
<p>Aquí se presenta un listado a la izquierda de categorías posibles, al presionarlo, se filtrará el listado por dicha categoría seleccionada.</p>
<p>En el campo de búsqueda se puede incluir palabras claves que filtrarán el listado al presionar el botón Buscar.</p>
<p>El botón Búsqueda avanzada habilitará 5 campos ocultos. Cada cual cuenta con su respectiva casilla de verificación (checkbox). La activación de dicha casilla significará que la búsqueda avanzada incluirá o no incluirá dicho parámetro en el filtro. A continuación se describe cada uno de ellos:</p>
<ol>
<li>Marca filtra los productos por la marca seleccionada</li>
<li>Vendedor filtra los productos por un vendedor seleccionado</li>
<li>Categoría filtra los productos por una categoría. Este filtro funciona igual que la barra lateral de categorías pero, dentro de la búsqueda avanzada, permite combinarlo con otros parámetros.</li>
<li>Rango de precios se permite fijar un mínimo (desde), máximo (hasta) o una combinación de ellos. 
NOTA: el parámetro desde debe ser menor al parámetro hasta</li>
<li>Palabras claves incluye en la búsqueda alguna palabra que figure en el nombre y/o descripción del producto</li>
</ol>
<p>Activar o desactivar un checkbox no borrará los parámetros fijados por el usuario mientras no salga de la pantalla. Podrá activarlos, desactivarlos y modificarlos sin perder los criterios ya definidos.</p>
<h2 id="mis-regalos">Mis regalos</h2>
<p>En esta pantalla se mostrará un listado de los regalos ya recibidos y la posibilidad de puntuar los regalos. 
Dicho puntaje no podrá ser visto por nadie más excepto por usted mismo y su finalidad es de la de conocer más sus gustos para mejorar la búsqueda de futuros regalos que se le sugerirá a sus amigos.
Al presionar Evaluar se mostrará un pop up que permite puntuar dicho regalo de 0 a 10 con una escala de 0,5. 
Además a la izquierda de las estrellas se muestra un botón que permite borrar la calificación, notar que ponerle cero puntos (ceros estrellas) al producto implicará calificarlo con un 0 (no borrar el puntaje anteriormente ingresado) lo que tendrá un impacto en la futura búsqueda para sugerencias. Borrar la calificación con el botón mencionado hará que no impacte en futuras búsquedas y sugerencias.</p>
<h2 id="visitar-perfil-de-usuario">Visitar perfil de usuario</h2>
<p>Existen dos formas de ingresar al perfil de un usuario
1.  En la sección Amigos en la barra superior, si se presiona en Mis amigos se mostrará el listado de amigos, presionando en el nombre o foto del mismo se mostrará la pantalla de su perfil
2.  En la sección Amigos en la barra superior, si se presiona en Buscar y se realiza una búsqueda que obtenga resultados válidos, al presionar en el nombre del usuario se mostrará la pantalla de su perfil.</p>
<p>Al ingresar a un perfil se tendrán 3 posibles pantallas
1.  Perfil mostrará los datos del usuario, la foto y la posibilidad de enviarle una solicitud de amistad si aún no fueran amigos.
2.  Hacele un regalo! Mostrará una listado de regalos de acuerdo a los gustos del usuario
3.  Regalos recibidos mostrará los regalos que el usuario ya posee</p>
<p>Además siempre se visualiza la cantidad de días faltantes para el cumpleaños del usuario.</p>
<h2 id="agregar-regalo-a-wish-list">Agregar regalo a Wish-List</h2>
<p>En cualquier listado de productos, ya sea por búsqueda simple o avanzada, por ver un listado de productos de otro usuario (de regalos sugeridos o regalos ya recibidos) o por ingresar a la descripción de un producto, se podrá presionar en el botón con forma de corazón el cual agregará el regalo a su wishlist.
Esto implicará que al momento de sugerir un regalo a sus amigos, dichos regalos se agregarán a la sugerencia.</p>