<h1 id="usuario-anonimo">Usuario anónimo</h1>
<h2 id="registrar-usuario">Registrar usuario</h2>
<p>En la pantalla de inicio, estará disponible el botón Creá tu cuenta! Presionándolo se abrirá una pantalla que permitirá seleccionar que tipo de usuario procederá a registrarse siendo las opciones</p>
<ol>
<li>Usuario</li>
<li>Vendedor</li>
</ol>
<p>Seleccionado Usuario se mostrará un formulario con los siguientes campos</p>
<ol>
<li>Nombre*</li>
<li>Apellido*</li>
<li>Fecha de nacimiento*</li>
<li>Email*: debe ser real ya que luego será confirmada su existencia.</li>
<li>Contraseña*: alfanumérica de 8 o más caracteres.</li>
<li>Confirmar* (este campo debe coincidir con el campo Contraseña)</li>
<li>Ocupación</li>
<li>Pasatiempos y hobbies*, al clickear en el campo, mostrará un listado de hobbies predefinidos por el sitio. Debe seleccionarse al menos 1 (uno).</li>
<li>Signo “+” el cual permitirá agregar hobbies que no existan en el listado anterior
*Campo obligatorio</li>
</ol>
<p>El botón crear verificará que todos los campos obligatorios estén completos y que cumplan con las condiciones necesarias.</p>
<p>Creada la cuenta, la misma quedará inactiva hasta que sea activada.</p>
<h2 id="registrar-usuario_1">Registrar usuario</h2>
<p>En la pantalla de inicio, estará disponible el botón Creá tu cuenta! Presionándolo se abrirá una pantalla que permitirá seleccionar que tipo de usuario procederá a registrarse siendo las opciones</p>
<ol>
<li>Usuario</li>
<li>Vendedor</li>
</ol>
<p>Seleccionado Vendedor se mostrará un formulario con los siguientes campos</p>
<ol>
<li>Email*: debe ser real ya que luego será confirmada su existencia.</li>
<li>Contraseña*: alfanumérica de 8 o más caracteres.</li>
<li>Confirmar* (este campo debe coincidir con el campo Contraseña)</li>
<li>Compañía*: razón social de la empresa</li>
<li>Página web</li>
<li>Ubicación: dirección de la empresa</li>
<li>Teléfono: de la empresa</li>
</ol>
<p>*Campo obligatorio</p>
<p>El botón crear verificará que todos los campos obligatorios estén completos y que cumplan con las condiciones necesarias.</p>
<p>Creada la cuenta, la misma quedará inactiva hasta que sea activada.</p>
<h2 id="activar-cuenta">Activar cuenta</h2>
<p>Para activar la cuenta se le enviará un correo electrónico a la cuenta de email ingresada durante el registro con el link al que deberá ingresar para realizarlo.</p>
<h2 id="login">Login</h2>
<p>Las credenciales necesarias para el login son</p>
<ol>
<li>Email que debe ser el mail actual (ya sea el que se usó durante el registro así como un nuevo email si se lo cambió posteriormente)</li>
<li>Password que debe ser la contraseña utilizada (ya sea el que se usó durante el registro así como si se la cambió posteriormente)</li>
</ol>
<p>El botón Iniciar sesión logueará la cuenta del usuario si las credenciales ingresadas son correctas.</p>
<h2 id="recuperar-contrasena">Recuperar contraseña</h2>
<p>Si durante el Login el usuario olvidó su contraseña puede presionar sobre “Olvidé mi usuario o contraseña” y puede poner su email y se le enviará un correo electrónico con una nueva contraseña generada para que ingrese con ella.</p>
<p>Es recomendable que el usuario modifique su contraseña tras haber iniciado sesión.</p>