<h1 id="vendedor">Vendedor</h1>
<h2 id="homescreen">Homescreen</h2>
<p>En esta pantalla se encontrarán 5 botones</p>
<ol>
<li>El botón What the gift?! En la parte superior izquierda lo llevará a la página de inicio de su cuenta</li>
<li>El botón con su Razón Social le permitirá<ul>
<li>Gestionar su Perfil</li>
<li>Cerrar sesión el cual lo deslogueará de su sesión actual</li>
</ul>
</li>
<li>Los botones Mis productos y Administrá tus productos le permitirá dirigirse a la pantalla donde podrá dar de alta, eliminar o modificar alguno de sus producto existentes</li>
<li>Productos le permitirá ver un listado de los productos disponibles (propios o ajenos) y realizar búsquedas simples o avanzadas así como por categorías</li>
</ol>
<h2 id="perfil">Perfil</h2>
<p>En esta pantalla tendrá la posibilidad de visualizar los datos actuales de su perfil y dispondrá de 3 botones</p>
<ol>
<li>Editar perfil lo re-direccionará a la pantalla para editar los atributos de su perfil</li>
<li>Eliminar cuenta dará de baja su cuenta dejándola inactiva teniendo la posibilidad de posterior reactivación</li>
<li>Cambiar E-Mail le permitirá la posibilidad de editar su cuenta de correo electrónico de su cuenta. Este proceso requerirá un email válido y posterior confirmación del mismo</li>
</ol>
<p>La solapa “Mis productos” le permitirá ver un listado de sus productos para dar de alta, eliminar o modificarlos</p>
<h2 id="reactivar-perfil">Reactivar perfil</h2>
<p>Si su perfil ha sido eliminado, podrá ser reactivado ingresando las credenciales correspondientes anteriores a la eliminación. Se le notificará sobre el estado eliminado de su cuenta y se le ofrecerá la posibilidad de reactivarla.</p>
<h2 id="editar-perfil">Editar perfil</h2>
<p>En esta pantalla podrá editar los atributos correspondientes a su perfil. Aparecerán los campos del mismo habilitados para su modificación. </p>
<p>Los botones disponibles son:</p>
<ol>
<li>Cambiar foto este botón abrirá una pantalla que le permitirá seleccionar un archivo de su computadora (no serán admitidas fotos en formato URL en esta sección) la cual aparecerá en su perfil.</li>
<li>Confirmar cambios luego de ingresados los cambios en los campos este botón validará que sean correctos y avisará en caso de que sean inválidos no permitiendo la modificación de los mismos. Las validaciones son:<ul>
<li>La razón social es obligatoria</li>
</ul>
</li>
<li>Cancelar cambios volverá al perfil al último estado guardado (confirmado). </li>
<li>Cambiar contraseña(*) permitirá la modificación de la contraseña actual validando que la nueva contraseña:<ul>
<li>Tenga más de 8 caracteres</li>
<li>Coincida con el campo Confirmar Contraseña</li>
</ul>
</li>
<li>Cambiar E-Mail(*) le permitirá la posibilidad de editar su cuenta de correo electrónico de su cuenta. Este proceso requerirá un email válido y posterior confirmación del mismo</li>
</ol>
<p>(*)Estos botones no requieren presionar en Confirmar cambios para que se reflejen los cambios.</p>
<h2 id="mis-productos-gestion-de-productos-propios">Mis productos (Gestión de productos propios)</h2>
<p>En esta pantalla se verá el listado de productos propios del vendedor. Cada producto listado tendrá la opción de</p>
<ol>
<li>Eliminar el producto de la base de datos</li>
<li>Modificar(*) los atributos del producto</li>
</ol>
<p>Luego están disponibles los botones</p>
<ol>
<li>Agregar producto el cual lo re-direccionará a la pantalla que le permitirá agregar un nuevo producto propio</li>
<li>Cargar producto desde archivo le permitirá cargar varios productos en una única acción subiendo un archivo que los contenga. Ver sección “Cargar productos desde archivo” para más información.</li>
</ol>
<p>(*)Debido al funcionamiento del sitio, solo se podrá modificar el precio. Ver sección “Agregar producto” para más información</p>
<h2 id="agregar-producto">Agregar producto</h2>
<p>En esta ventana se mostrará el formulario para la creación de un nuevo producto. Los campos son todos obligatorios a excepción de la foto.</p>
<p>El campo Categorías mostrará un listado de categorías disponibles a seleccionar.</p>
<p>El producto será confirmado presionando en el botón Crear. Es importante tener en cuenta que no aparecerá en los listados hasta que sea habilitado por un administrador el cual evaluará que el producto cumpla con los requisitos del sitio, requisitos legales y no contradiga la moral y las buenas costumbres.</p>
<h2 id="notificacion-de-resultado-de-publicacion">Notificación de resultado de publicación</h2>
<p>Todo producto agregado por un vendedor será evaluado por un administrador para su posterior evaluación. Si el producto fuera tanto aprobado como rechazado, llegará a la cuenta de correo registrada un notificación sobre el estado del mismo. </p>
<h2 id="cargar-productos-desde-archivo">Cargar productos desde archivo</h2>
<p>(Acá tengo que saber cómo debe ser el archivo para explicar cómo cargarlo).
 </p>