<div class="tabbable">
<ul class="nav nav-tabs">
<li class="active"><a href="#generic_user" data-toggle="tab">Usuario no registrado</a></li>
<li class=""><a href="#user" data-toggle="tab">Usuario registrado</a></li>
<li class=""><a href="#seller" data-toggle="tab">Vendedor</a></li>
<li class=""><a href="#admin" data-toggle="tab">Administrador</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="generic_user">
<p>
<h1 id="usuario-anonimo">Usuario anónimo</h1>
    <h2 id="registrar-usuario">Registrar usuario</h2>
    <p>En la pantalla de inicio, estará disponible el botón Creá tu cuenta! Presionándolo se abrirá una pantalla que permitirá seleccionar que tipo de usuario procederá a registrarse siendo las opciones</p>
    <ol>
    <li style="list-style-type: decimal;">Usuario</li>
    <li style="list-style-type: decimal;">Vendedor</li>
    </ol>
    <p>Seleccionado Usuario se mostrará un formulario con los siguientes campos</p>
    <ol>
    <li style="list-style-type: decimal;">Nombre*</li>
    <li style="list-style-type: decimal;">Apellido*</li>
    <li style="list-style-type: decimal;">Fecha de nacimiento*</li>
    <li style="list-style-type: decimal;">Email*: debe ser real ya que luego será confirmada su existencia.</li>
    <li style="list-style-type: decimal;">Contraseña*: alfanumérica de 8 o más caracteres.</li>
    <li style="list-style-type: decimal;">Confirmar* (este campo debe coincidir con el campo Contraseña)</li>
    <li style="list-style-type: decimal;">Ocupación</li>
    <li style="list-style-type: decimal;">Pasatiempos y hobbies*, al clickear en el campo, mostrará un listado de hobbies predefinidos por el sitio. Debe seleccionarse al menos 1 (uno).</li>
    <li style="list-style-type: decimal;">Signo “+” el cual permitirá agregar hobbies que no existan en el listado anterior
    *Campo obligatorio</li>
    </ol>
    <p>El botón crear verificará que todos los campos obligatorios estén completos y que cumplan con las condiciones necesarias.</p>
    <p>Creada la cuenta, la misma quedará inactiva hasta que sea activada.</p>
    <h2 id="registrar-usuario_1">Registrar usuario</h2>
    <p>En la pantalla de inicio, estará disponible el botón Creá tu cuenta! Presionándolo se abrirá una pantalla que permitirá seleccionar que tipo de usuario procederá a registrarse siendo las opciones</p>
    <ol>
    <li style="list-style-type: decimal;">Usuario</li>
    <li style="list-style-type: decimal;">Vendedor</li>
    </ol>
    <p>Seleccionado Vendedor se mostrará un formulario con los siguientes campos</p>
    <ol>
    <li style="list-style-type: decimal;">Email*: debe ser real ya que luego será confirmada su existencia.</li>
    <li style="list-style-type: decimal;">Contraseña*: alfanumérica de 8 o más caracteres.</li>
    <li style="list-style-type: decimal;">Confirmar* (este campo debe coincidir con el campo Contraseña)</li>
    <li style="list-style-type: decimal;">Compañía*: razón social de la empresa</li>
    <li style="list-style-type: decimal;">Página web</li>
    <li style="list-style-type: decimal;">Ubicación: dirección de la empresa</li>
    <li style="list-style-type: decimal;">Teléfono: de la empresa</li>
    </ol>
    <p>*Campo obligatorio</p>
    <p>El botón crear verificará que todos los campos obligatorios estén completos y que cumplan con las condiciones necesarias.</p>
    <p>Creada la cuenta, la misma quedará inactiva hasta que sea activada.</p>
    <h2 id="activar-cuenta">Activar cuenta</h2>
    <p>Para activar la cuenta se le enviará un correo electrónico a la cuenta de email ingresada durante el registro con el link al que deberá ingresar para realizarlo.</p>
    <h2 id="login">Login</h2>
    <p>Las credenciales necesarias para el login son</p>
    <ol>
    <li style="list-style-type: decimal;">Email que debe ser el mail actual (ya sea el que se usó durante el registro así como un nuevo email si se lo cambió posteriormente)</li>
    <li style="list-style-type: decimal;">Password que debe ser la contraseña utilizada (ya sea el que se usó durante el registro así como si se la cambió posteriormente)</li>
    </ol>
    <p>El botón Iniciar sesión logueará la cuenta del usuario si las credenciales ingresadas son correctas.</p>
    <h2 id="recuperar-contrasena">Recuperar contraseña</h2>
    <p>Si durante el Login el usuario olvidó su contraseña puede presionar sobre “Olvidé mi usuario o contraseña” y puede poner su email y se le enviará un correo electrónico con una nueva contraseña generada para que ingrese con ella.</p>
    <p>Es recomendable que el usuario modifique su contraseña tras haber iniciado sesión.</p>

  </p>
</div>

<div class="tab-pane" id="user">
  <p>
    <h1 id="usuarios">Usuarios</h1>

    <h2 id="homescreen">Homescreen</h2>
    <p>En esta pantalla se encontrarán 6 botones</p>
    <ol>
    <li style="list-style-type: decimal;">El botón What the gift?! En la parte superior izquierda lo llevará a la página de inicio de su cuenta</li>
    <li style="list-style-type: decimal;">El botón con su Nombre y Apellido le permitirá<ul>
    <li>Gestionar su Perfil</li>
    <li>Cerrar sesión el cual lo deslogueará de su sesión actual</li>
    </ul>
    </li>
    <li style="list-style-type: decimal;">Amigos le permitirá ingresar a las secciones<ul>
    <li>Ingresar a la pantalla “Mis amigos” (ver sección “Administrar amigos”).</li>
    <li>O “Buscar” nuevos amigos el cual mostrará la pantalla de búsqueda de amigos por <ul>
    <li>Nombre</li>
    <li>Apellido</li>
    <li>Dirección de e-mail</li>
    </ul>
    </li>
    </ul>
    </li>
    <li style="list-style-type: decimal;">Los botones Comenzá a encontrar regalos y Productos le permitirá ver un listado de los productos disponibles (propios o ajenos) y realizar búsquedas simples o avanzadas así como por categorías</li>
    <li style="list-style-type: decimal;">Mis regalos mostrará un listado de los regalos ya recibidos y la posibilidad de puntuar los regalos. Dicho puntaje no podrá ser visto por nadie más excepto por usted mismo y su finalidad es de la de conocer más sus gustos para mejorar la búsqueda de futuros regalos que se le sugerirá a sus amigos.</li>
    </ol>

    <h2 id="perfil">Perfil</h2>
    <p>En esta pantalla tendrá la posibilidad de visualizar los datos actuales de su perfil y dispondrá de 3 botones
    <ol>
      <li style="list-style-type: decimal;">Editar perfil lo re-direccionará a la pantalla para editar los atributos de su perfil</li>
      <li style="list-style-type: decimal;">Eliminar cuenta dará de baja su cuenta dejándola inactiva teniendo la posibilidad de posterior reactivación</li>
      <li style="list-style-type: decimal;">Cambiar E-Mail le permitirá la posibilidad de editar su cuenta de correo electrónico de su cuenta. Este proceso requerirá un email válido y posterior confirmación del mismo</li>
    </ol>
    </p>

    <h2 id="reactivar-perfil">Reactivar perfil</h2>
    <p>Si su perfil ha sido eliminado, podrá ser reactivado ingresando las credenciales correspondientes anteriores a la eliminación. Se le notificará sobre el estado eliminado de su cuenta y se le ofrecerá la posibilidad de reactivarla.</p>

    <h2 id="editar-perfil">Editar perfil</h2>
    <p>En esta pantalla podrá editar los atributos correspondientes a su perfil. Aparecerán los campos del mismo habilitados para su modificación. </p>
    <p>Los botones disponibles son:</p>
    <ol>
    <li style="list-style-type: decimal;">Cambiar foto este botón abrirá una pantalla que le permitirá seleccionar un archivo de su computadora (no serán admitidas fotos en formato URL en esta sección) la cual aparecerá en su perfil.</li>
    <li style="list-style-type: decimal;">Confirmar cambios luego de ingresados los cambios en los campos este botón validará que sean correctos y avisará en caso de que sean inválidos no permitiendo la modificación de los mismos. Las validaciones son:
        *La fecha de nacimiento es obligatoria</li>
    <li style="list-style-type: decimal;">Cancelar cambios volverá al perfil al último estado guardado (confirmado). </li>
    <li style="list-style-type: decimal;">Cambiar contraseña(*) permitirá la modificación de la contraseña actual validando que la nueva contraseña:<ul>
    <li>Tenga más de 8 caracteres</li>
    <li>Coincida con el campo Confirmar Contraseña</li>
    </ul>
    </li>
    <li style="list-style-type: decimal;">Cambiar E-Mail(*) le permitirá la posibilidad de editar su cuenta de correo electrónico de su cuenta. Este proceso requerirá un email válido y posterior confirmación del mismo</li>
    </ol>
    <p>(*)Estos botones no requieren presionar en Confirmar cambios para que se reflejen los cambios.</p>

    <h2 id="administrar-amigos">Administrar amigos</h2>
    <p>En esta pantalla estarán disponibles dos secciones:</p>
    <ol>
      <li style="list-style-type: decimal;">Mis amigos mostrará un listado de sus amigos.
    Un amigo es una persona a la cual se le ha enviado una solicitud y la ha aceptado por lo que sus perfiles se encuentran vinculador.
    En esta pantalla podrá ingresar a los perfiles de su amigo haciendo click en su nombre o en la foto.
    Además tendrá el botón Eliminar el cual le permitirá romper con dicho vínculo.</li>
      <li style="list-style-type: decimal;">Solicitudes de amistad en esta pantalla se mostrarán las solicitudes pendientes de aceptación por otros usuarios para vincular sus cuentas en calidad de amigos. Se dispondrá de los botones:
        <ul>
          <li style="list-style-type: circle;">Confirmar que le permitirá vincular sus cuentas</li>
          <li style="list-style-type: circle;">Rechazar que denegará la solicitud de amistad entre ambas cuentas. El otro usuario no será notificado del rechazo pero podrá saberlo si al ingresar al perfil tiene permitido volver a enviar una solicitud ya que al enviarla o al vincular las cuentas, se deshabilita la posibilidad de enviar la solicitud a un mismo usuario.</li>
        </ul>
      </li>
    </ol>
    <p>De este modo, si dos perfiles no se vinculan y no se permite enviar la solicitud de amistad significa que la solicitud aún está pendiente de aceptación o rechazo.
    Además, en caso de que se le envíe una solicitud de amistad, se activará al lado de su nombre y apellido (en la barra superior) un número que indicará la cantidad de solicitudes pendientes. Clickeando el número se mostrará un menú que le permitirá ingresar a Solicitudes de amistad lo que lo redirigirá a esta misma pantalla.</p>
    <p>Vincular dos cuentas permitirá al sitio notificar al usuario sobre los futuros eventos relacionados a su cuenta.</p>

    <h2 id="buscar-amigos">Buscar amigos</h2>
    <p>Esta pantalla le permitirá realizar una búsqueda de amigos por los siguientes criterios</p>
    <ul>
      <li style="list-style-type: circle;">Nombre</li>
      <li style="list-style-type: circle;">Apellido</li>
      <li style="list-style-type: circle;">Dirección de e-mail</li>
    </ul>
    <p>El botón Buscar filtrará la base de usuarios de acuerdo a los parámetros solicitados</p>

    <h2 id="productos-disponibles">Productos disponibles</h2>
    <p>En esta pantalla se mostrará listado de los productos disponibles en la base de datos y la posibilidad de realizar búsquedas simples o avanzadas así como por categorías.</p>
    <p>En este listado no habrá ningún tipo de prioridad o categorización asociada a los gustos propios o de otro usuario, simplemente se mostrarán los productos a modo de búsqueda.</p>
    <p>Aquí se presenta un listado a la izquierda de categorías posibles, al presionarlo, se filtrará el listado por dicha categoría seleccionada.</p>
    <p>En el campo de búsqueda se puede incluir palabras claves que filtrarán el listado al presionar el botón Buscar.</p>
    <p>El botón Búsqueda avanzada habilitará 5 campos ocultos. Cada cual cuenta con su respectiva casilla de verificación (checkbox). La activación de dicha casilla significará que la búsqueda avanzada incluirá o no incluirá dicho parámetro en el filtro. A continuación se describe cada uno de ellos:</p>
    <ol>
    <li style="list-style-type: decimal;">Marca filtra los productos por la marca seleccionada</li>
    <li style="list-style-type: decimal;">Vendedor filtra los productos por un vendedor seleccionado</li>
    <li style="list-style-type: decimal;">Categoría filtra los productos por una categoría. Este filtro funciona igual que la barra lateral de categorías pero, dentro de la búsqueda avanzada, permite combinarlo con otros parámetros.</li>
    <li style="list-style-type: decimal;">Rango de precios se permite fijar un mínimo (desde), máximo (hasta) o una combinación de ellos.
    NOTA: el parámetro desde debe ser menor al parámetro hasta</li>
    <li style="list-style-type: decimal;">Palabras claves incluye en la búsqueda alguna palabra que figure en el nombre y/o descripción del producto</li>
    </ol>
    <p>Activar o desactivar un checkbox no borrará los parámetros fijados por el usuario mientras no salga de la pantalla. Podrá activarlos, desactivarlos y modificarlos sin perder los criterios ya definidos.</p>
    <h2 id="mis-regalos">Mis regalos</h2>
    <p>En esta pantalla se mostrará un listado de los regalos ya recibidos y la posibilidad de puntuar los regalos.
    Dicho puntaje no podrá ser visto por nadie más excepto por usted mismo y su finalidad es de la de conocer más sus gustos para mejorar la búsqueda de futuros regalos que se le sugerirá a sus amigos.
    Al presionar Evaluar se mostrará un pop up que permite puntuar dicho regalo de 0 a 10 con una escala de 0,5.
    Además a la izquierda de las estrellas se muestra un botón que permite borrar la calificación, notar que ponerle cero puntos (ceros estrellas) al producto implicará calificarlo con un 0 (no borrar el puntaje anteriormente ingresado) lo que tendrá un impacto en la futura búsqueda para sugerencias. Borrar la calificación con el botón mencionado hará que no impacte en futuras búsquedas y sugerencias.</p>
    <h2 id="visitar-perfil-de-usuario">Visitar perfil de usuario</h2>
    <p>Existen dos formas de ingresar al perfil de un usuario</p>
    <ol>
      <li style="list-style-type: decimal;">En la sección Amigos en la barra superior, si se presiona en Mis amigos se mostrará el listado de amigos, presionando en el nombre o foto del mismo se mostrará la pantalla de su perfil</li>
      <li style="list-style-type: decimal;">En la sección Amigos en la barra superior, si se presiona en Buscar y se realiza una búsqueda que obtenga resultados válidos, al presionar en el nombre del usuario se mostrará la pantalla de su perfil.</li>
    </ol>
    <p>Al ingresar a un perfil se tendrán 3 posibles pantallas</p>
    <ol>
      <li style="list-style-type: decimal;">Perfil mostrará los datos del usuario, la foto y la posibilidad de enviarle una solicitud de amistad si aún no fueran amigos.</li>
      <li style="list-style-type: decimal;">Hacele un regalo! Mostrará una listado de regalos de acuerdo a los gustos del usuario</li>
      <li style="list-style-type: decimal;">Regalos recibidos mostrará los regalos que el usuario ya posee</li>
    </ol>
    <p>Además siempre se visualiza la cantidad de días faltantes para el cumpleaños del usuario.</p>
    <h2 id="agregar-regalo-a-wish-list">Agregar regalo a Wish-List</h2>
    <p>En cualquier listado de productos, ya sea por búsqueda simple o avanzada, por ver un listado de productos de otro usuario (de regalos sugeridos o regalos ya recibidos) o por ingresar a la descripción de un producto, se podrá presionar en el botón con forma de corazón el cual agregará el regalo a su wishlist.
    Esto implicará que al momento de sugerir un regalo a sus amigos, dichos regalos se agregarán a la sugerencia.</p>
  </p>
</div>

<div class="tab-pane" id="seller">
  <p>
    <h1 id="vendedor">Vendedor</h1>

    h2 id="homescreen">Homescreen</h2>
    <p>En esta pantalla se encontrarán 5 botones</p>
    <ol>
	    <li style="list-style-type: decimal;">El botón What the gift?! En la parte superior izquierda lo llevará a la página de inicio de su cuenta</li>
	    <li style="list-style-type: decimal;">El botón con su Razón Social le permitirá
		    <ul>
		    	<li style="list-style-type: circle;">Gestionar su Perfil</li>
		    	<li style="list-style-type: circle;">Cerrar sesión el cual lo deslogueará de su sesión actual</li>
	    	</ul>
    	</li>
    	<li style="list-style-type: decimal;">Los botones Mis productos y Administrá tus productos le permitirá dirigirse a la pantalla donde podrá dar de alta, eliminar o modificar alguno de sus producto existentes</li>
    	<li style="list-style-type: decimal;">Productos le permitirá ver un listado de los productos disponibles (propios o ajenos) y realizar búsquedas simples o avanzadas así como por categorías</li>
    </ol>

    <h2 id="perfil">Perfil</h2>
    <p>En esta pantalla tendrá la posibilidad de visualizar los datos actuales de su perfil y dispondrá de 3 botones</p>
    <ol>
	    <li style="list-style-type: decimal;">Editar perfil lo re-direccionará a la pantalla para editar los atributos de su perfil</li>
	    <li style="list-style-type: decimal;">Eliminar cuenta dará de baja su cuenta dejándola inactiva teniendo la posibilidad de posterior reactivación</li>
	    <li style="list-style-type: decimal;">Cambiar E-Mail le permitirá la posibilidad de editar su cuenta de correo electrónico de su cuenta. Este proceso requerirá un email válido y posterior confirmación del mismo</li>
    </ol>
    <p>La solapa “Mis productos” le permitirá ver un listado de sus productos para dar de alta, eliminar o modificarlos</p>

    <h2 id="reactivar-perfil">Reactivar perfil</h2>
    <p>Si su perfil ha sido eliminado, podrá ser reactivado ingresando las credenciales correspondientes anteriores a la eliminación. Se le notificará sobre el estado eliminado de su cuenta y se le ofrecerá la posibilidad de reactivarla.</p>

    <h2 id="editar-perfil">Editar perfil</h2>
    <p>En esta pantalla podrá editar los atributos correspondientes a su perfil. Aparecerán los campos del mismo habilitados para su modificación. </p>
    <p>Los botones disponibles son:</p>
    <ol>
      <li style="list-style-type: decimal;">Cambiar foto este botón abrirá una pantalla que le permitirá seleccionar un archivo de su computadora (no serán admitidas fotos en formato URL en esta sección) la cual aparecerá en su perfil.</li>
      <li style="list-style-type: decimal;">Confirmar cambios luego de ingresados los cambios en los campos este botón validará que sean correctos y avisará en caso de que sean inválidos no permitiendo la modificación de los mismos. Las validaciones son:
        <ul>
          <li style="list-style-type: circle;">La razón social es obligatoria</li>
        </ul>
      </li>
      <li>Cancelar cambios volverá al perfil al último estado guardado (confirmado). </li>
      <li>Cambiar contraseña(*) permitirá la modificación de la contraseña actual validando que la nueva contraseña:
        <ul>
          <li>Tenga más de 8 caracteres</li>
          <li>Coincida con el campo Confirmar Contraseña</li>
        </ul>
      </li>
      <li>Cambiar E-Mail(*) le permitirá la posibilidad de editar su cuenta de correo electrónico de su cuenta. Este proceso requerirá un email válido y posterior confirmación del mismo</li>
    </ol>
    <p>(*)Estos botones no requieren presionar en Confirmar cambios para que se reflejen los cambios.</p>
    <h2 id="mis-productos-gestion-de-productos-propios">Mis productos (Gestión de productos propios)</h2>
    <p>En esta pantalla se verá el listado de productos propios del vendedor. Cada producto listado tendrá la opción de</p>
    <ol>
      <li>Eliminar el producto de la base de datos</li>
      <li>Modificar(*) los atributos del producto</li>
    </ol>
    <p>Luego están disponibles los botones</p>
    <ol>
    <li>Agregar producto el cual lo re-direccionará a la pantalla que le permitirá agregar un nuevo producto propio</li>
    <li>Cargar producto desde archivo le permitirá cargar varios productos en una única acción subiendo un archivo que los contenga. Ver sección “Cargar productos desde archivo” para más información.</li>
    </ol>
    <p>(*)Debido al funcionamiento del sitio, solo se podrá modificar el precio. Ver sección “Agregar producto” para más información</p>
    <h2 id="agregar-producto">Agregar producto</h2>
    <p>En esta ventana se mostrará el formulario para la creación de un nuevo producto. Los campos son todos obligatorios a excepción de la foto.</p>
    <p>El campo Categorías mostrará un listado de categorías disponibles a seleccionar.</p>
    <p>El producto será confirmado presionando en el botón Crear. Es importante tener en cuenta que no aparecerá en los listados hasta que sea habilitado por un administrador el cual evaluará que el producto cumpla con los requisitos del sitio, requisitos legales y no contradiga la moral y las buenas costumbres.</p>
    <h2 id="notificacion-de-resultado-de-publicacion">Notificación de resultado de publicación</h2>
    <p>Todo producto agregado por un vendedor será evaluado por un administrador para su posterior evaluación. Si el producto fuera tanto aprobado como rechazado, llegará a la cuenta de correo registrada un notificación sobre el estado del mismo. </p>
    <h2 id="cargar-productos-desde-archivo">Cargar productos desde archivo</h2>
    <p>(Acá tengo que saber cómo debe ser el archivo para explicar cómo cargarlo).
     </p>
  </p>
</div>

<div class="tab-pane" id="admin">
  <p>
    <h1 id="administrador">Administrador</h1>
    <h2 id="login">Login</h2>
    <p>Para ingresa a la pantalla de login, el administrador debe escribir en la barra de direcciones
    www.whatthegift.com.ar/admins. Esta pantalla mostrará el botón Iniciar sesión que al presionarlo mostrará un Pop-Up solicitando</p>
    <ol>
    <li>Username: nombre de usuario proporcionado por el administrador de la base de datos</li>
    <li>Password: contraseña proporcionada por el administrador de la base de datos</li>
    </ol>
    <h2 id="panel-de-control">Panel de control</h2>
    <p>Los botones mostrados son</p>
    <ol>
    <li>Administrar usuarios o Usuarios en la barra superior (ver sección Administrar usuarios)</li>
    <li>Administrar vendedores o Vendedores en la barra superior (ver sección Administrar Vendedores)</li>
    <li>Administrar prodcutos o Productos en la barra superior (ver sección Administrar productos)</li>
    <li>Administrar Categorías o Categorías en la barra superior (ver sección Administrar categorías)</li>
    </ol>
    <p>Cada uno de ellos redirigirá a la pantalla correspondiente la posterior administración de cada uno.</p>
    <h2 id="administrar-usuario">Administrar usuario</h2>
    <p>Esta pantalla mostrará un listado de los usuarios y la posibilidad de habilitarlos y deshabilitarlos. Si el usuario estuviera habilitado, y se lo desea deshabilitar, se mostrará un campo para rellenar un motivo por el cual se lo deshabilita.
    Al cambiar el estado de un usuario, se le enviará un email informándole sobre dicho cambio y se le adjuntará el texto incluido en el motivo previamente ingresado.</p>
    <h2 id="administrar-vendedores">Administrar Vendedores</h2>
    <p>Esta pantalla mostrará un listado de los vendedores y la posibilidad de habilitarlos y deshabilitarlos. Si el vendedor estuviera habilitado, y se lo desea deshabilitar, se mostrará un campo para rellenar un motivo por el cual se lo deshabilita.
    Al cambiar el estado de un vendedor, se le enviará un email informándole sobre dicho cambio y se le adjuntará el texto incluido en el motivo previamente ingresado.</p>
    <h2 id="administrar-usuario_1">Administrar usuario</h2>
    <p>Esta pantalla mostrará un listado de los productos y la posibilidad de habilitarlos y deshabilitarlos. Si el producto estuviera habilitado, y se lo desea deshabilitar, se mostrará un campo para rellenar un motivo por el cual se lo deshabilita.
    Al cambiar el estado de un producto, se le enviará un email al vendedor del mismo informándole sobre dicho cambio y se le adjuntará el texto incluido en el motivo previamente ingresado.</p>
    <h2 id="administrar-categoria">Administrar categoría</h2>
    <p>En esta pantalla el adminitrador podrá</p>
    <ol>
    <li>Crear una categoría incluyendo el<ul>
    <li>Nombre de la misma (campo obligatorio)</li>
    <li>Descripción de la misma (opcional)</li>
    </ul>
    </li>
    <li>Modificar una categoría apretando el botón correspondiente a la misma. Al apretarlo podrá modificar<ul>
    <li>Nombre de la misma (campo obligatorio)</li>
    <li>Descripción de la misma (opcional)</li>
    </ul>
    </li>
    <li>Eliminar una categoría apretando el botón correspondiente a la misma. Al apretarlo la misma se eliminará previo confirmación.</li>
    </ol>
  </p>
</div>
