<h1 id="administrador">Administrador</h1>
<h2 id="login">Login</h2>
<p>Para ingresa a la pantalla de login, el administrador debe escribir en la barra de direcciones
www.whatthegift.com.ar/admins. Esta pantalla mostrará el botón Iniciar sesión que al presionarlo mostrará un Pop-Up solicitando</p>
<ol>
<li>Username: nombre de usuario proporcionado por el administrador de la base de datos</li>
<li>Password: contraseña proporcionada por el administrador de la base de datos</li>
</ol>
<h2 id="panel-de-control">Panel de control</h2>
<p>Los botones mostrados son</p>
<ol>
<li>Administrar usuarios o Usuarios en la barra superior (ver sección Administrar usuarios)</li>
<li>Administrar vendedores o Vendedores en la barra superior (ver sección Administrar Vendedores)</li>
<li>Administrar prodcutos o Productos en la barra superior (ver sección Administrar productos)</li>
<li>Administrar Categorías o Categorías en la barra superior (ver sección Administrar categorías)</li>
</ol>
<p>Cada uno de ellos redirigirá a la pantalla correspondiente la posterior administración de cada uno.</p>
<h2 id="administrar-usuario">Administrar usuario</h2>
<p>Esta pantalla mostrará un listado de los usuarios y la posibilidad de habilitarlos y deshabilitarlos. Si el usuario estuviera habilitado, y se lo desea deshabilitar, se mostrará un campo para rellenar un motivo por el cual se lo deshabilita.
Al cambiar el estado de un usuario, se le enviará un email informándole sobre dicho cambio y se le adjuntará el texto incluido en el motivo previamente ingresado.</p>
<h2 id="administrar-vendedores">Administrar Vendedores</h2>
<p>Esta pantalla mostrará un listado de los vendedores y la posibilidad de habilitarlos y deshabilitarlos. Si el vendedor estuviera habilitado, y se lo desea deshabilitar, se mostrará un campo para rellenar un motivo por el cual se lo deshabilita.
Al cambiar el estado de un vendedor, se le enviará un email informándole sobre dicho cambio y se le adjuntará el texto incluido en el motivo previamente ingresado.</p>
<h2 id="administrar-usuario_1">Administrar usuario</h2>
<p>Esta pantalla mostrará un listado de los productos y la posibilidad de habilitarlos y deshabilitarlos. Si el producto estuviera habilitado, y se lo desea deshabilitar, se mostrará un campo para rellenar un motivo por el cual se lo deshabilita.
Al cambiar el estado de un producto, se le enviará un email al vendedor del mismo informándole sobre dicho cambio y se le adjuntará el texto incluido en el motivo previamente ingresado.</p>
<h2 id="administrar-categoria">Administrar categoría</h2>
<p>En esta pantalla el adminitrador podrá</p>
<ol>
<li>Crear una categoría incluyendo el<ul>
<li>Nombre de la misma (campo obligatorio)</li>
<li>Descripción de la misma (opcional)</li>
</ul>
</li>
<li>Modificar una categoría apretando el botón correspondiente a la misma. Al apretarlo podrá modificar<ul>
<li>Nombre de la misma (campo obligatorio)</li>
<li>Descripción de la misma (opcional)</li>
</ul>
</li>
<li>Eliminar una categoría apretando el botón correspondiente a la misma. Al apretarlo la misma se eliminará previo confirmación.</li>
</ol>