<div class="center hero-unit">
  <h1>What The Gift?!</h1>

  <p>
  ¿Necesitas hacer un regalo y no sabes qué elegir? ¿Se viene tu cumpleaños y deseas muchas cosas? En <strong>What the Gift?!</strong> tenemos la solución: busca regalos por afinidad, filtra por tus intereses, y elige por ubicación; puedes también armar un <em>wish-list</em> con lo que deseas para que tus amigos sepan qué regalarte.
  </p>
  <p>
  No pierdas más tiempo, ¡regístrate e invita a tus amigos a participar!
  </p>

  <%= link_to "Creá tu cuenta!", '#', class: "btn btn-large btn-primary", onclick: "displayRegisterForm()" %>
  <!-- Note: The login-modal was temporarily disabled - the link now redirects to /users/new for sign up since the modal form doesn't currently work
  <%= link_to "Registrate ahora!", '/users/new', class: "btn btn-large btn-primary" %> -->
</div>

<div id="registerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Regístrate</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <!-- Tipo de usuario -->
      <div class="control-group">
        <label class="control-label">Tipo</label>
        <div class="controls">
          <select id="userType">
            <option value="">Seleccione un tipo de usuario</option>
            <option value="/users/new">Usuario</option>
            <option value="/sellers/new">Vendedor</option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <a id="signup-button" href="none"><button class="btn btn-primary">Crear</button></a>
  </div>
</div>

<script>
  function displayRegisterForm()
  {
    $('#registerModal').modal('toggle');
  }

  $('#userType').change(
    function() {
      if (this.value) {
        document.getElementById("signup-button").href = this.value
      }
    }
  );
</script>
