<% provide(:title, 'Projects') %>
<h1>Projects</h1>
<p>
  This is the projects page... if you have any, you can describe them here. Otherwise, feel free to get rid of it.
  Don't forget to eliminate the corresponding controller's method and route entry too.
</p>
<p>This is the projects.html.erb view file</p>
