<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="background: #f5f5f5;padding: 12px;">
      <img src="<%= @headerImage %>" />
      <h1>Nueva contraseña</h1>
      <p>
        Hola <%= @user.full_name %>!
      </p>
      <p>
        Su nueva contraseña es: <b><%= @user.password %></b>
      </p>
      <p>
        Muchas gracias, el equipo de What The Gift?!
      </p>
    </div>
  </body>
</html>