<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a What The Gift?!, <%= @user.full_name %></h1>
    <p>
      Te has registrado con éxito en el sitio.<br/>
      Ahora sólo falta confirmar tu registración.<br/>
      Ingresá a <%= link_to "este link", root_url %> para confirmar tu cuenta.
    </p>
    <p>
      Muchas gracias, el equipo de What The Gift?!
    </p>
  </body>
</html>