<h1>Panel de Control</h1>

<p class="text-center">
  <%= link_to "Administrar usuarios", admin_user_edit_path, class: 'btn btn-warning' %>
  <%= link_to "Administrar vendedores", admin_seller_edit_path, class: 'btn btn-warning' %>
  <%= link_to "Administrar productos", admin_selling_product_edit_path, class: 'btn btn-warning' %>
  <%= link_to "Administrar categorías", admin_category_edit_path, class: 'btn btn-warning' %>
</p>