<h1>Panel de Control</h1>

<p class="text-center">
  <%= link_to "Administrar usuarios", user_edit_path, class: 'btn btn-success' %>
  <%= link_to "Administrar productos", product_edit_path, class: 'btn btn-success' %>
  <%= link_to "Administrar categorías", category_edit_path, class: 'btn btn-success' %>
</p>