<h1>Login administradores</h1>
<p class="text-center"><%= link_to "Iniciar sesi칩n", '#', class: "btn btn-primary", onclick: "adminLoginForm()" %></p>

<div id="adminModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body">
    <form class="form-horizontal">
      <!-- Usuario -->
      <div class="control-group">
        <label class="control-label" for="inputEmail">Nombre de usuario</label>
        <div class="controls">
          <input type="text">
        </div>
      </div>
      <!-- Contrase침a -->
      <div class="control-group">
        <label class="control-label" for="inputPassword">Contrase침a</label>
        <div class="controls">
          <input type="password" id="inputPassword">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary">Iniciar sesi칩n</button>
  </div>
</div>

<script>
  function adminLoginForm()
  {
    $('#adminModal').modal('toggle');
  }
</script>