<div class="container">
  <h2>Administrar Productos</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Precio</th>
        <th colspan="2">Acción</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td><img src="http://lorempixel.com/64/64/technics/5" class="img-rounded"></td>
      <td><a href="">Auriculares Sennheiser</a></td>
      <td>Vendedor 1</td>
      <td><button class="btn btn-success">Aprobar</button></td>
      <td><button class="btn btn-danger">Rechazar</button></td>
    </tr>
    <tr>
      <td><img src="http://lorempixel.com/64/64/technics/6" class="img-rounded"></td>
      <td><a href="">Portaretrato Digital</a></td>
      <td>Vendedor 1</td>
      <td><button class="btn btn-success">Aprobar</button></td>
      <td><button class="btn btn-danger">Rechazar</button></td>
    </tr>
    <tr>
      <td><img src="http://lorempixel.com/64/64/" class="img-rounded"></td>
      <td><a href="">Producto 3</a></td>
      <td>Vendedor 2</td>
      <td><button class="btn btn-success">Aprobar</button></td>
      <td><button class="btn btn-danger">Rechazar</button></td>
    </tr>
    <tr>
      <td><img src="http://lorempixel.com/64/64/" class="img-rounded"></td>
      <td><a href="">Producto 4</a></td>
      <td>Vendedor 3</td>
      <td><button class="btn btn-success">Aprobar</button></td>
      <td><button class="btn btn-danger">Rechazar</button></td>
    </tr>
    <tr>
      <td><img src="http://lorempixel.com/64/64/" class="img-rounded"></td>
      <td><a href="">Producto 5</a></td>
      <td>Vendedor 4</td>
      <td><button class="btn btn-success">Aprobar</button></td>
      <td><button class="btn btn-danger">Rechazar</button></td>
    </tr>
    <tr>
      <td><img src="http://lorempixel.com/64/64/" class="img-rounded"></td>
      <td><a href="">Producto 6</a></td>
      <td>Vendedor 5</td>
      <td><button class="btn btn-success">Aprobar</button></td>
      <td><button class="btn btn-danger">Rechazar</button></td>
    </tr>
    </tbody>
  </table>
</div>