<div class="container">
<h2>Administrar Usuarios</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre de Usuario</th>
        <th>E-mail</th>
        <th>Estado</th>
        <th>Motivo</th>
        <th colspan="2">Acción</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td><a href="">Nombre Apellido</a></td>
      <td>nombre.apellido@dominio.com</td>
      <td>Habilitado</td>
      <td></td>
      <td><button class="btn btn-small btn-success">Aprobar</button></td>
      <td><button class="btn btn-small btn-danger">Rechazar</button></td>
    </tr>
    <tr>
      <td><a href="">Nombre Apellido</a></td>
      <td>nombre.apellido@dominio.com</td>
      <td>Habilitado</td>
      <td></td>
      <td><button class="btn btn-small btn-success">Aprobar</button></td>
      <td><button class="btn btn-small btn-danger">Rechazar</button></td>
    </tr>
    <tr>
      <td><a href="">Nombre Apellido</a></td>
      <td>nombre.apellido@dominio.com</td>
      <td>Habilitado</td>
      <td></td>
      <td><button class="btn btn-small btn-success">Aprobar</button></td>
      <td><button class="btn btn-small btn-danger">Rechazar</button></td>
    </tr>
    <tr>
      <td><a href="">Nombre Apellido</a></td>
      <td>nombre.apellido@dominio.com</td>
      <td>Habilitado</td>
      <td></td>
      <td><button class="btn btn-small btn-success">Aprobar</button></td>
      <td><button class="btn btn-small btn-danger">Rechazar</button></td>
    </tr>
    <tr>
      <td><a href="">Nombre Apellido</a></td>
      <td>nombre.apellido@dominio.com</td>
      <td>Habilitado</td>
      <td></td>
      <td><button class="btn btn-small btn-success">Aprobar</button></td>
      <td><button class="btn btn-small btn-danger">Rechazar</button></td>
    </tr>
    <tr>
      <td><a href="">Nombre Apellido</a></td>
      <td>nombre.apellido@dominio.com</td>
      <td>Habilitado</td>
      <td></td>
      <td><button class="btn btn-small btn-success">Aprobar</button></td>
      <td><button class="btn btn-small btn-danger">Rechazar</button></td>
    </tr>
    </tbody>
  </table>
</div>