<!-- Contenido principal -->
<div class="container">
  <div class="page-header text-center">
    <h3>John Doe <br><small>johndoeVendedor2013 | johndoeVendedor@gmail.com</small></h3>
  </div>

  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-user"></i> Perfil</a></li>
      <li><a href="#tab2" data-toggle="tab"><i class="icon-star"></i> Gestionar productos</a></li>
      <li><a href="#tab3" data-toggle="tab"><i class="icon-gift"></i> Cargar productos desde archivo</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <form>
          <fieldset>
            <legend><h4>Perfil</h4></legend>
            <div class="row">
              <div class="span4">
                <%= image_tag "lego5.jpg", size: "200x200", class: "img-polaroid img-rounded" %>
              </div>
              <div class="span3"></div>
            </div>
            <div class="row">
              <div class="span3">
                <p class="text-center"><button class="btn btn-success btn-block" type="button">Cambiar foto</button>
                </p>
              </div>
              <div class="span3"></div>
            </div>
            <div class="row">
              <div class="span9"><h4>Sobre mi</h4></div>
            </div>
            <div class="row">
              <div class="span9">
                <div class="row">
                  <div class="span4"><strong>Nombre</strong></div>
                  <div class="span5"><input type="text" value="John"></div>
                </div>
                <div class="row">
                  <div class="span4"><strong>Apellido</strong></div>
                  <div class="span5"><input type="text" value="Doe"></div>
                </div>
                <div class="row">
                  <div class="span4"><strong>Razón Social</strong></div>
                  <div class="span5"><input type="text" value="Regalitos SRL" disabled></div>
                </div>
                <div class="row">
                  <div class="span4"><strong>Locales</strong></div>
                  <div class="span5"><input type="text" value="Medrano 950"></div>
                </div>
                <div class="row">
                  <div class="span4"><strong>Páginas Web</strong></div>
                  <div class="span5"><input type="text" value="www.regalitos.com.ar"></div>
                </div>
                <div class="row">
                  <div class="span4"><strong>Teléfono</strong></div>
                  <div class="span5"><input type="text" value="4444-3333"></div>
                </div>
                <div class="row">
                  <div class="span4"><strong>Observaciones</strong></div>
                  <div class="span5"><input type="text" value="Tenemos los mejores regalitos"></div>
                </div>
                <div class="row">
                  <div class="span3"></div>
                  <div class="span2">
                    <p class="text-center"><button class="btn btn-success btn-block" type="button">Confirmar cambios</button>
                    </p>
                  </div>
                  <div class="span2">
                    <p class="text-center"><a class="btn btn-warning btn-block" href="/sellers">Cancelar cambios</a>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="span12"><hr></div>
                </div>
                <div class="row">
                  <div class="span4"><strong>Contraseña</strong></div>
                  <div class="span5"><input type="text" placeholder="*********" disabled></div>
                </div>
                <div class="row">
                  <div class="span4"></div>
                  <div class="span3">
                    <p class="text-center"><a class="btn btn-success btn-block" href="#changePasswordModal" role="button" data-toggle="modal">Cambiar Contraseña</a>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="span12"><hr></div>
                </div>
                <div class="row">
                  <div class="span4"><strong>E-mail</strong></div>
                  <div class="span5"><input type="text" placeholder="johndoe@gmail.com" disabled></div>
                </div>
                <div class="row">
                  <div class="span4"></div>
                  <div class="span3">
                    <p class="text-center"><a class="btn btn-success btn-block" href="#changeEmailModal" role="button" data-toggle="modal">Cambiar e-mail</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="tab-pane" id="tab2">
        <form>
          <fieldset>
            <legend>Gestionar Productos</legend>
          </fieldset>
          <p>AMB de productos</p>
        </form>
      </div>
      <div class="tab-pane" id="tab3">
        <form>
          <fieldset>
            <legend>Subir productos desde archivo</legend>
          </fieldset>
          <p>Subir productos desde archivo</p>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="changePasswordModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changePasswordLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="changePasswordLabel">Cambiar Password</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputPassword">Contraseña</label>
        <div class="controls">
          <input type="text" id="inputPassword" placeholder="Nueva Contraseña">
        </div>
        <label class="control-label" for="inputPwdConf">Confirmar Contraseña</label>
        <div class="controls">
          <input type="text" id="inputPwdConf" placeholder="Repetir Contraseña">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    <button class="btn btn-primary">Confirmar</button>
  </div>
</div>

<div id="changeEmailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changeEmailLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="changeEmailLabel">Cambiar e-mail</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="Email">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    <button class="btn btn-primary">Confirmar</button>
  </div>
</div>

<div id="deleteProfileModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteProfileModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="deleteProfileModalLabel">Eliminar perfil</h3>
  </div>
  <div class="modal-body">
    <p>¿Está seguro de eliminar su cuenta?</p>
    <p>Podrá reactivarla en cualquier momento</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    <a class="btn btn-danger" href="/profile/delete">Eliminar</a>
  </div>
</div>