<% content_for :activefriendgifts do %>
	class="active"
<% end %>
<fieldset>
	<legend>Regalos recibidos</legend>
	<ul class="thumbnails">
		<% @friend.gifts.each_with_index do |gift, i| %>
			<li class="span2">
			  <div class="thumbnail gift">
			    <%= image_tag "gift1.jpg", size: '100x100', class: 'img-rounded' %>
			    <h5><%= gift.product.name %></h5>
			    <p><small><%= gift.product.description %></small></p>
			    <p class="bottom">
			    	<%= link_to 'Ver más', product_path(:id => gift.product.id), :class => 'btn btn-mini btn-primary pull-right' %>
			    </p>
			  </div>
			</li>
		<% end %>
	</ul>
</fieldset>