<% content_for :activemyfriends do %>
	class="active"
<% end %>

<h1>Listado de Amigos</h1>

<% if flash[:success] %>
	<div class="alert alert-info">
		<%= flash[:success] %>
	</div>
<% end %>
	
<ul class="row">
	<% (1..6).each do |i| %>
	<li class="span2 text-center">
		<a href="/friends/1" class="profile-mini">
			<%= image_tag "lego#{i}.jpg", size: "80x80", class: "img-circle" %>
			<p>Lego <%= i %></p>
		</a>
	</li>
	<% end %>
</ul>