<% content_for :activerequests do %>
	class="active"
<% end %>

<h1>Solicitudes de Amistad</h1>

<% if @pending_requests.size == 0 %>
	<div class="alert alert-info">
		No posee solicitudes de amistad pendientes
	</div>
<% else %>
	<table class="table table-hover" id="jane">
		<thead>
			<tr>
				<th>Nombre</th>
				<th width="35%"><p class="text-center">Acciones</p></th>
			</tr>
		</thead>
		<tbody>
			<% @pending_requests.each do |req| %>
				<tr class="friend-row">
					<td>
						<%= req.owner.whole_name %>
					</td>
					<td>
						<p class="text-center">
							<a class="btn btn-success" href="/friends/accept/<%= req.id %>" >Confirmar</a>
							<a class="btn btn-danger" href="/friends/unfriend/<%= req.id %>">Rechazar</a>
						</p>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>