<% content_for :activefriendwishlist do %>
	class="active"
<% end %>

<ul class="thumbnails">
	<% (1..7).each do |i| %>
		<li class="span2">
		  <div class="thumbnail gift">
		    <%= image_tag "gift#{i}.jpg", size: '100x100', class: 'img-rounded' %>
		    <h5>Nombre Producto 1</h5>
		    <p><small>Descripción del producto 1</small></p>
		    <p class="bottom">
		      <button class="btn btn-mini btn-primary pull-right" type="button">Ver más</button>
		    </p>
		  </div>
		</li>
	<% end %>
</ul>