<div class="center hero-unit" style="padding-top: 40px; background-color: white">
	<h3 style="font-family: 'OpenSans', cursive; color: #c64012">Se han enviado los emails con éxito</h3>
	<p style="font-family: 'OpenSans', cursive; font-size: 16px;"> Los emails de notificación de cumpleaños han sido enviados.</p>
</div>