<div class="center hero-unit">
	<h1>What The Gift?!</h1>

	<p>
	  ¡Felicitaciones <strong><%= @user.full_name %></strong>! Su cuenta ha sido activada con éxito.
	</p>
	<p>
		No pierdas más tiempo y ¡empezá a <a href="/profile">completar tu perfil</a>!
	</p>
</div>