<div class="center hero-unit">
	<h1>What The Gift?!</h1>

	<p>
	  Su cuenta ha sido confirmada <strong>John Doe</strong>.
	</p>
	<p>
		No pierdas más tiempo y ¡empezá a <a href="/profile">completar tu perfil</a>!
	</p>
</div>