<h1>Olvidé mi contraseña</h1>

<div class="row">
  <div class="span6 offset3">
    <form action="/users/forgotten-user" class="form-horizontal" method="post">
	  <div class="control-group">
	    <label class="control-label" for="inputEmail">Email</label>
	    <div class="controls">
	      <input type="email" name="email">
	    </div>
	  </div>

		<p class="text-center">
			<input type="submit" class="btn btn-large btn-primary" value="Reiniciar contraseña" />
		</p>
  </div>
</div>
