<select data-placeholder="Elegí tus hobbies..." class="chosen-select" name="hobbiesPredefinidos[]"  id= "hobbiesPredefinidos[]" multiple >
  <optgroup label="Deportes">
    <option value ="fútbol">Fútbol</option>
    <option value ="natación">Natación</option>
    <option value ="hockey">Hockey</option>
    <option value ="handball">Handball</option>
    <option value ="volley">Volley</option>
    <option value ="rugby">Rugby</option>
    <option value ="tenis">Tenis</option>
    <option value ="basket">Basket</option>
    <option value ="golf">Golf</option>
  </optgroup>
</select>

<script>
  $('.chosen-select').chosen();
</script>