<% content_for :activefriendwishlist do %>
	class="active"
<% end %>
<fieldset>
	<legend><h4>Hacele un regalo!</h4></legend>
	<ul class="thumbnails">
		<%= render :template => 'products/list' %>
	</ul>
</fieldset>