<div class="row">
  <div class="span12">
    <h1 class="pagination-centered">Mis productos</h1>
    <br/>
  </div>
  <div class="span10">
    <div class="row">
      <div class="span2 offset4">
        <%= link_to '<i class="icon-plus-sign icon-white"></i> Agregar'.html_safe, new_selling_products_path, class: 'btn btn-success btn-block' %>
      </div>
      <div class="span2">
        <button class="btn btn-info btn-block" href="#productFileModal" data-toggle="modal"><i class="icon-file icon-white"></i> Cargar archivo</button>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 12px">
	<div class="span12">
	    <%= render :template => 'selling_products/list' %>
	</div>
</div>

<div id="productFileModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="products" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="productFileLabel">Cargar Producto desde Archivo</h3>
  </div>
  <div class="modal-body">
    <form action="<%= product_file_path%>" enctype="multipart/form-data" method="post">
      <div class="form-horizontal">
          <input type="file" name="product_file" required/>
      </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-warning pull-left" data-dismiss="modal" aria-hidden="true">Cancelar</button>
   		<input type="submit" class="btn btn-success" value="Cargar" />
    </div>
  </form>
</div>
