<!-- Contenido principal -->
<div class="container">
  <div>
      <fieldset>
        <legend><h4>Nuevo Producto</h4></legend>
        <div class="row">
          <div class="span4">
            <a href="#changePhotoModal" role="button" data-toggle="modal"><span></span><%= image_tag "Fotos.png", size: "200x200", class: "img-polaroid img-rounded" %></a>
          </div>
          <div class="span3"></div>
        </div>
        <div class="row">
          <div class="span3">
            <p class="text-center"><a class="btn btn-success btn-block" href="#changePhotoModal" role="button" data-toggle="modal">Agregar foto</a>
            </p>
          </div>
          <div class="span3"></div>
        </div>
        <div class="row">
          <div class="span9"><h4>Sobre mi producto</h4></div>
        </div>
        <div class="row">
          <div class="span9">
          <form action="<%= create_selling_products_path%>" method="post">
            <div class="row">
              <div class="span4"><strong>Nombre del producto</strong></div>
              <div class="span5"><input type="text" name="name"></div>
            </div>
            <div class="row">
              <div class="span4"><strong>Marca</strong></div>
              <div class="span5"><input type="text" name="brand"></div>
            </div>
            <div class="row">
              <div class="span4"><strong>Descripción</strong></div>
              <div class="span5"><input type="text" name="description"></div>
            </div>
            <div class="row">
              <div class="span4"><strong>Precio</strong></div>
              <div class="span5"><input type="text" name="price"></div>
            </div>
            <div class="row">
              <div class="span3"></div>
              <div class="span2">
                <p class="text-center">
                  <input type="submit" class="btn btn-success btn-block" value="Crear" />
                </p>
              </div>
              <div class="span2">
                <p class="text-center">
                  <%= link_to 'Cancelar', '/my-products/', :method => :get,  :class => 'btn btn-danger btn-block' %>
                </p>
              </div>
              </form>
            </div>
          </div>
        </div>
      </fieldset>
  </div>
</div>


<div id="addProductSuccessModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addProductSuccessModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="addProductSuccessLabel">¡Felicitaciones!</h3>
  </div>
  <div class="modal-body">
    Producto guardado con éxito
  </div>
  <div class="modal-footer">
    <a href="/profile/" class="btn btn-primary">Aceptar</a>
  </div>
</div>