<select data-placeholder="Elegí ..." class="chosen-select" name="categories[]"  id= "categories[]" multiple >
    <% Category.all.each do |category| %>
	    <option value="<%=category.id%>"><%=category.name%></option>
    <% end %>
</select>
<script>
  $('.chosen-select').chosen();
</script>