<div class="center hero-unit" style="padding-top: 40px; background-color: white">
	<h1 style="font-family: 'DancingScript', cursive;">Error 404 - No encontrado</h1>

	<%= image_tag 'empty-box.png', size: '200x200', style: 'display: block; margin: 0 auto; margin-bottom: 20px;' %>
	<p>La página que buscabas no ha sido encontrada</p>
	<p>
		<%= link_to "Vuelve a la home", root_path%>
		<a style="display: inline-block; margin-left: 20px;" href="javascript: window.history.back()">Vuelve atrás</a>
	</p>
</div>