<div class="center hero-unit" style="padding-top: 40px; background-color: white">
	<h1 style="font-family: 'DancingScript', cursive;">Error 500</h1>

	<%= image_tag 'empty-box.png', size: '200x200', style: 'display: block; margin: 0 auto; margin-bottom: 20px;' %>
	<p>Se ha producido un error inesperado.</p>
	<p>¡Ya estamos trabajando para solucionarlo!</p>
	<p>
		<%= link_to "Vuelve a la home", root_path%>
	</p>
</div>