<div class="span2">
  <ul class="nav nav-tabs nav-stacked">
    <% @categories.each do |category| %>
    <li><%= link_to category.name, search_product_path(@category) %></li>
    <% end %>
  </ul>
</div>