    <div class="container">
      <div class="page-header">
        <h2>¡Encuentra tus regalos! <br><small>Aquí podrás buscar regalos por categoría</small></h2>
      </div>

      <button class="btn btn-primary" id="advanced-search">Búsqueda avanzada</button>
      <div id="advanced-search-form" style="display: none;">
        <br>
        <form class="form-inline">
          <label class="checkbox">
            <input type="checkbox"> Marca
          </label>
          <input type="text" class="input-small">
        </form>
        <form class="form-inline">
          <label class="checkbox">
            <input type="checkbox"> Vendedor
          </label>
          <input type="text" class="input-small">
        </form>
        <form class="form-inline">
          <label class="checkbox">
            <input type="checkbox"> Categoría
          </label>
          <input type="text" class="input-small">
        </form>
        <form class="form-inline">
          <label class="checkbox">
            <input type="checkbox"> Rango de Precios
          </label>
          <input type="text" class="input-small" placeholder="desde">
          <input type="text" class="input-small" placeholder="hasta">
        </form>
        <form class="form-inline">
          <label class="checkbox">
            <input type="checkbox"> Palabras clave
          </label>
          <input type="text" class="input-small">
        </form>
      </div>

      <div class="row">
        <div class="span8 offset2">
          <form class="form-search">
            <div class="input-append">
              <input type="text" class="span8 search-query">
              <button type="submit" class="btn">Buscar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
        <!--Sidebar content-->
          <ul class="nav nav-tabs nav-stacked">
            <li><a href=#>Accesorios</a></li>
            <li><a href=#>Deportes</a></li>
            <li><a href=#>Electrónica</a></li>
            <li><a href=#>Indumentaria</a></li>
            <li><a href=#>Juegos</a></li>
            <li><a href=#>Categoría 6</a></li>
            <li><a href=#>Categoría ...</a></li>
            <li><a href=#>Categoría <em>n</em></a></li>
          </ul>
        </div>
        <div class="span10">
        <!--Body content-->
          <div class="row">
            <div class="span10">
              <ul class="breadcrumb">
                <li><a href="#">Los más elegidos</a></li>
              </ul>
            </div>
          </div>
          <ul class="thumbnails">
            <% @products = @recommended_products %>
            <%= render :template => 'products/list' %>
          </ul>
          <div class="row"><div class="span10">
          <ul class="breadcrumb">
              <li><a href="#">Los visitados recientemente</a></li>
          </ul>
          </div></div>
          <ul class="thumbnails">
            <% @products = @latest_products %>
            <%= render :template => 'products/list' %>
          </ul>
        </div>
      </div>
    </div>

<script>
  $('#advanced-search').click(
    function() {
      if ($('#advanced-search-form').css('display') == 'none') {
        $('#advanced-search-form').slideDown();
      } else {
        $('#advanced-search-form').slideUp();
      }
    }
  );
</script>
