    <div class="container">
      <div class="page-header">
        <h2>¡Encuentra tus regalos! <br><small>Aquí podrás buscar regalos por categoría</small></h2>
      </div>
      <div class="row">
        <div class="span8 offset2">
          <form class="form-search">
            <div class="input-append">
              <input type="text" class="span8 search-query">
              <button type="submit" class="btn">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
        <!--Sidebar content-->
          <ul class="nav nav-tabs nav-stacked">
            <li><a href=#>Accesorios</a></li>
            <li><a href=#>Deportes</a></li>    
            <li><a href=#>Electrónica</a></li>            
            <li><a href=#>Indumentaria</a></li>
            <li><a href=#>Juegos</a></li>
            <li><a href=#>Categoría 6</a></li>
            <li><a href=#>Categoría ...</a></li>
            <li><a href=#>Categoría <em>n</em></a></li>
          </ul>
        </div>
        <div class="span10">
        <!--Body content-->
          <div class="row">
            <div class="span10">
              <ul class="breadcrumb">
                <li><a href="#">Los más elegidos</a></li>
              </ul>
            </div>
          </div>
          <ul class="thumbnails">
            <li class="span2">
              <div class="thumbnail">
                <img src="http://lorempixel.com/128/128/transport/1" class="img-rounded" alt="">
                <h5>Nombre Producto 1</h5>
                <p><small>Descripción del producto 1</small></p>
                <p class="text-right">
                  <a><button class="btn btn-mini btn-success" type="button">+ Whish list</button></a>
                  <a><button class="btn btn-mini btn-primary" type="button">Ver más</button></a>
                </p>
              </div>
            </li>
            <li class="span2">
              <div class="thumbnail">
                <img src="http://lorempixel.com/128/128/transport/2" class="img-rounded" alt="">
                <h5>Nombre Producto 2</h5>
                <p><small>Descripción del producto </small></p>
                <p class="text-right">
                  <a><button class="btn btn-mini btn-success" type="button">+ Whish list</button></a>
                  <a><button class="btn btn-mini btn-primary" type="button">Ver más</button></a>
                </p>
              </div>
            </li>
            <li class="span2">
              <div class="thumbnail">
                <img src="http://lorempixel.com/128/128/transport/3" class="img-rounded" alt="">
                <h5>Nombre Producto 3</h5>
                <p><small>Descripción del producto </small></p>
                <p class="text-right">
                  <a><button class="btn btn-mini btn-success" type="button">+ Whish list</button></a>
                  <a><button class="btn btn-mini btn-primary" type="button">Ver más</button></a>
                </p>
              </div>
            </li>
            <li class="span2">
              <div class="thumbnail">
                <img src="http://lorempixel.com/128/128/transport/4" class="img-rounded" alt="">
                <h5>Nombre Producto 4</h5>
                <p><small>Descripción del producto </small></p>
                <p class="text-right">
                  <a><button class="btn btn-mini btn-success" type="button">+ Whish list</button></a>
                  <a><button class="btn btn-mini btn-primary" type="button">Ver más</button></a>
                </p>
              </div>
            </li>
            <li class="span2">
              <div class="thumbnail">
                <img src="http://lorempixel.com/128/128/transport/5" class="img-rounded" alt="">
                <h5>Nombre Producto 5</h5>
                <p><small>Descripción del producto </small></p>
                <p class="text-right">
                  <a><button class="btn btn-mini btn-success" type="button">+ Whish list</button></a>
                  <a><button class="btn btn-mini btn-primary" type="button">Ver más</button></a>
                </p>
              </div>
            </li>
          </ul>
          <div class="row"><div class="span10">
          <ul class="breadcrumb">
              <li><a href="#">Los visitados recientemente</a></li>
          </ul>
          </div></div>
          <ul class="thumbnails">
            <li class="span2">
              <div class="thumbnail">
                <img src="http://lorempixel.com/128/128/transport/6" class="img-rounded" alt="">
                <h5>Nombre Producto 6</h5>
                <p><small>Descripción del producto </small></p>
                <p class="text-right">
                  <a><button class="btn btn-mini btn-success" type="button">+ Whish list</button></a>
                  <a><button class="btn btn-mini btn-primary" type="button">Ver más</button></a>
                </p>
              </div>
            </li>
            <li class="span2">
              <div class="thumbnail">
                <img src="http://lorempixel.com/128/128/transport/7" class="img-rounded" alt="">
                <h5>Nombre Producto 7</h5>
                <p><small>Descripción del producto </small></p>
                <p class="text-right">
                  <a><button class="btn btn-mini btn-success" type="button">+ Whish list</button></a>
                  <a><button class="btn btn-mini btn-primary" type="button">Ver más</button></a>
                </p>
              </div>
            </li>
            <li class="span2">
              <div class="thumbnail">
                <img src="http://lorempixel.com/128/128/transport/8" class="img-rounded" alt="">
                <h5>Nombre Producto 8</h5>
                <p><small>Descripción del producto </small></p>
                <p class="text-right">
                  <a><button class="btn btn-mini btn-success" type="button">+ Whish list</button></a>
                  <a><button class="btn btn-mini btn-primary" type="button">Ver más</button></a>
                </p>
              </div>
            </li>
            <li class="span2">
              <div class="thumbnail">
                <img src="http://lorempixel.com/128/128/transport/9" class="img-rounded" alt="">
                <h5>Nombre Producto 9</h5>
                <p><small>Descripción del producto </small></p>
                <p class="text-right">
                  <a><button class="btn btn-mini btn-success" type="button">+ Whish list</button></a>
                  <a><button class="btn btn-mini btn-primary" type="button">Ver más</button></a>
                </p>
              </div>
            </li>
            <li class="span2">
              <div class="thumbnail">
                <img src="http://lorempixel.com/128/128/transport/10" class="img-rounded" alt="">
                <h5>Nombre Producto 10</h5>
                <p><small>Descripción del producto 10</small></p>
                <p class="text-right">
                  <a><button class="btn btn-mini btn-success" type="button">+ Whish list</button></a>
                  <a><button class="btn btn-mini btn-primary" type="button">Ver más</button></a>
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
