    <div class="container">
      <div class="page-header">
        <h2>¡Encuentra tus regalos! <br><small>Aquí podrás buscar regalos por categoría</small></h2>
      </div>

      <button class="btn btn-primary" id="advanced-search">Búsqueda avanzada</button>
      <div id="advanced-search-form" style="display: none;">
        <br>
        <form action="/products/search/" 
        class="search form form-inline" id="search" method="post">
          <div class="row-fluid" style="margin-bottom: 12px">
            <label class="checkbox">
              <input type="checkbox" name="brand_enable"> Marca
            </label>
            <input type="text" class="input-small" name="brand">
          </div>
          <div class="row-fluid" style="margin-bottom: 12px">
            <label class="checkbox">
              <input type="checkbox" name="seller_enable"> Vendedor
            </label>
            <input type="text" class="input-small" name="seller">
          </div>
          <div class="row-fluid" style="margin-bottom: 12px">
            <label class="checkbox">
              <input type="checkbox" name="category_enable"> Categoría
            </label>
            <input type="text" class="input-small" name="category">
          </div>
          <div class="row-fluid" style="margin-bottom: 12px">
            <label class="checkbox">
              <input type="checkbox" name="price_enable"> Rango de Precios
            </label>
            <input type="text" class="input-small" placeholder="desde" name="price_from">
            <input type="text" class="input-small" placeholder="hasta" name="price_to">
          </div>
          <div class="row-fluid" style="margin-bottom: 12px">
            <label class="checkbox">
              <input type="checkbox" name="free_text_enable"> Palabras clave
            </label>
            <input type="text" class="input-small" name="free_text">
          </div>
          <input name="commit" type="submit" value="Buscar" />
        </form>
      </div>

      <div class="row">
        <div class="span8 offset2">
          <form class="form-search">
            <div class="input-append">
              <input type="text" class="span8 search-query">
              <button type="submit" class="btn">Buscar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <%= render :template => 'products/categories_sidebar' %>
        <div class="span10">
        <!--Body content-->
          <div class="row">
            <div class="span10">
              <ul class="breadcrumb">
                <li><a href="#">Los más elegidos</a></li>
              </ul>
            </div>
          </div>
          <ul class="thumbnails">
            <%= render :template => 'products/list' %>
          </ul>
      </div>
    </div>

<script>
  $('#advanced-search').click(
    function() {
      if ($('#advanced-search-form').css('display') == 'none') {
        $('#advanced-search-form').slideDown();
      } else {
        $('#advanced-search-form').slideUp();
      }
    }
  );
</script>
