<div class="center hero-unit">
  <h1>What The Gift?!</h1>

  <p>
  	Su cuenta ha sido desactivada, <strong>John Doe</strong>.
  <p>
  	De todas maneras podrá reactivarla en cualquier momento.
  </p>
</div>