<!-- Contenido principal -->
<div class="container">
  <div class="page-header text-center">
    <h3>John Doe <br><small>johndoe2013 | johndoe@gmail.com</small></h3>
  </div>

  <div class="container">
    <% if @user=="vendedor" %> 
      <%= render template: 'profile/edit_seller' %> -->
    <% else %>
      <%= render template: 'profile/edit_user' %>
    <% end %>
  </div>
</div>

<%= render template: 'profile/modals' %>